@charset "UTF-8";

:root {
    --cor01: #b80000;
    --cor02: #b11b25;
    --cor03: #112128;
    --cor04: #fdf7fa;
    --cor05: #fcfff7;
    --cor06: #f0da16;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--cor01);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--cor04);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem {
    background: var(--cor01) url(../imgs/pexels-pixabay-260352.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: right top;
    display: block;
}

section#login>div#formulario {
    display: block;
    padding: 5px;
}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario>p {
    font-size: 0.8em;
}

form>div.campo {
    background-color: var(--cor01);
    border: 2px solid var(--cor01);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    color: var(--cor04);
    margin: 5px 0px;
}

div.campo>label {
    display: none;
}

div.campo>.material-symbols-outlined {
    color: var(--cor04);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo>input {
    background-color: var(--cor03);
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo>input:focus-within {
    background-color: var(--cor04);
    border: none;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor03);
    color: var(--cor04);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form>input[type=submit]:hover {
    background-color: #264d5e;
}

form>button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor03);
    color: var(--cor04);
    border: 1px solid;
    border-radius: 5px;
    padding-top: 7px;
    margin-top: 5px;
    cursor: pointer;
}

form>button:hover {
    background-color: #264d5e;
}

form>button>i {
    font-size: 0.1em;
}